@model EventApplication.Models.Order
@{
    ViewBag.Title = "Register";
}
@section Scripts
{
    <script src="~/Scripts/jquery.unobtrusive-ajax.min.js"></script>
    <script src="~/Scripts/jquery.validate.min.js"></script>
    <script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>
} 
    <h2>Register</h2>
    <p id="italics">Register</p>
@using (Html.BeginForm("AddToOrder", "TicketsOrdered", FormMethod.Get))
{
    <hr />
    <div>
        Sale ends on
        @Html.DisplayNameFor(model => model.EventSelected.StartDate)
    </div>
    <p id="italics">@Html.DisplayNameFor(model => model.EventSelected.Title)</p>
    <p>FREE</p>
    <br />



    @Html.DisplayNameFor(model => model.TicketCount)
    @Html.DropDownListFor(m => m.TicketCount, Enumerable.Range(1, 10).Select(i => new SelectListItem { Text = i.ToString(), Value = i.ToString() }))
    @Html.ActionLink("Checkout", "AddToOrder", "TicketsOrdered", new { id = Model.EventId }, null)

}
   

