@model EventApplication.Models.Order
@{
    ViewBag.Title = "Register";
}
@section Scripts
{
    <script src="~/Scripts/jquery.unobtrusive-ajax.min.js"></script>
    <script src="~/Scripts/jquery.validate.min.js"></script>
    <script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>
}
<h2>Register</h2>
@using (Html.BeginForm("AddToOrder", "TicketsOrdered", FormMethod.Get))
{
    <hr />
    <div>
        <p>Sale ends on: @Html.DisplayFor(model => model.EventSelected.StartDate)</p>
        
    </div>
    <p id="italics">@Html.DisplayFor(model => model.EventSelected.Title) <br /> FREE</p>
    <br />



    @Html.DisplayNameFor(model => model.TicketCount)
    @Html.DropDownListFor(m => m.TicketCount, Enumerable.Range(1, 10).Select(i => new SelectListItem { Text = i.ToString(), Value = i.ToString() }))

    <div>
        @Html.ActionLink("Checkout", "OrderSummary", "Order", new { id = Model.EventId }, new { @class = "btn btn-primary" })
    </div>
}


