
@{
    ViewBag.Title = "Test";
}

<h2>Test</h2>
<br />
<div>
    @Html.DropDownList("AlbumsByName");
</div>

<div>
    @Html.DropDownList("AlbumsByArtist");
</div>

<div>
    @Html.DropDownList("AlbumsByGenre");
</div>

<br />
@Html.TextBox("Textbox", "Hello World!")
<br />
@Html.Label("Label", "MyLabel")
<br />
@Html.CheckBox("Checkbox", true)
<br />
@Html.RadioButton("Name", "Red")
@Html.RadioButton("Name", "Blue")
@Html.RadioButton("Name", "Green")
