@model MVCMusicStoreApplication.Models.Album
@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>
<p id="content">Content Body</p>
<p id="italics">Details</p>
    <hr />
    <p id="italics">@Html.DisplayFor(model => model.Title)</p>
    <img src="@Html.DisplayFor(model => model.AlbumArtUrl)" />
    <br />
    <p id="details">Artist: <span id="bold">@Html.DisplayFor(model => model.Artist.Name)</span></p>
        
    <p id="details">Price: <span id="bold">@Html.DisplayFor(model => model.Price)</span></p>

<button id="btn">
    @Html.ActionLink("Add to Cart", "AddToCart", "ShoppingCart", new {id = Model.AlbumId}, null)
</button>