@model IEnumerable<EventApplication.Models.Event>

<h4 class="last-heading">Last Minute Deals</h4>

<table id="lastminutetable">
    <tr>
        <th>Title</th>
        <th>Start Date</th>
        <th>Start Time</th>
        <th>City</th>
        <th>State</th>
    </tr>

    @foreach (var item in Model)
    {

        <tr>
            <td>@Html.ActionLink(item.Title, "Details", "Event", new { id = item.EventId }, null)</td>
            <td>@item.StartDate.ToShortDateString()</td>
            <td>@item.StartTime</td>
            <td>@item.LocationCity</td>
            <td>@item.LocationState</td>
        </tr>

    }

</table>
